@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: #FCE205;
    color: #1E1C0C;
 }

 .App{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     width: 100%;
     height: 100vh;
     h1{
        font-size: 2.4rem;
    }
     .theoretical{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 100vh;
         ul{
             li{
                 list-style-type: none;
                 span{
                     button{
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        font-size: 1.6rem;
                     }
                 }
             }
         }
     }
     .practical{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        p{
            width: 90%;
            line-height: 2;
        }
    }
 }

 @media only screen and (max-width: 991px) {
    .App {
      grid-template-columns: repeat(1, 1fr);
      h1{
        font-size: 1.4rem;
    }
      .theoretical{
        ul{
            li{
                span{
                    button{
                       font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .practical{
       margin: auto;
   }
    }
  }
